* {
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue';
    font-size: 80px;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    
}
 .main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right , #B496C2 0%, #B496C2 60%, #DACFE5 60%,#DACFE5 100%);
    border: 10px solid white;
    border-radius: 100px; 
    
}

.main .image img{
   height: 80%;
   width: 40%;
   left: 46.5%;
   top: 10%;
    position: absolute;
}
.main .navbar{
   height: ao;
    width: 98%;
        display: flex;
    justify-content: space-between;

}
.main .navbar img{
    padding-top: 0%;
    padding-left: 2%;
    height: 10%;
    width: 10%;
}
.main .navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 0.5%;
    width: 3%;
    padding-top: 50px;
}